@import "./../../global/_variable.module.scss";
.main {
  .container {
    display: flex;
    padding: 45px;
    background-color: #e3f0fa;
    justify-content: space-between;
    .network_society_footer {
      padding-top: 40px;
      .box_footer {
        .logo_box {
          display: flex;
          align-items: center;
          height: 60px;
          left: 0;
          border-radius: 10px;
          background-color: #f0f8ff;
          padding: 11px;
          box-shadow: 3px 3px 6px 3px $black_20;
          .logo_footer {
            background-image: url(../../assets/logo_travel.svg);
            width: 50px;
            height: 50px;
          }
          .name_logo_footer {
            display: block;
            justify-content: center;
            p {
              margin: 0;
              font-weight: bold;
              font-size: 20px;
            }
          }
        }
        .contact_network_society {
          display: flex;
          width: 27px;
          height: 27px;
          padding-top: 20px;
          a {
            padding-right: 25px;
          }
        }
      }
    }
    .discover_footer {
      display: flex;
      flex-direction: column;
      a {
        font-size: 20px;
      }
      .discover {
        font-size: 30px;
        font-weight: 600;
        padding-bottom: 10px;
      }
    }
    .quick_link_footer {
      a {
        font-size: 20px;
      }
      display: flex;
      flex-direction: column;
      .quick_link {
        font-size: 30px;
        font-weight: 600;
        padding-bottom: 10px;
      }
    }
    .contact_footer {
      .contact {
        font-size: 30px;
        font-weight: 600;
        padding-bottom: 10px;
      }
      .about_me {
        padding-top: 19px;
        display: flex;
        align-items: center;
      }
    }
  }
}
