$black_10: #ECECEC;
$black_20: #D7D7D7;
$black_30: #C2C2C2;
$black_35: #B7B7B7;
$black_45: #A0A0A0;
$black_55: #898989;
$black_65: #707070;
$black_75: #555555;
$black_85: #363636;
$black_100: #000000;

$white: #ffffff;



