.main {
  .container {
    background-color: #cfe2ff;
    height: 431px;
    display: flex;
    justify-content: center;
    .box_subscriber {
      .content {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
        .title {
          font-weight: 500;
          font-size: 20px;
          text-align: center;
          padding-bottom:36px ;
        }
        .ip_btn_subscriber {
          position: relative;

          .ip_subscriber {
            width: 692px;
            height: 87px;
            font-size: 30px;
            border-radius: 15px;
            border: 0 solid #fff;
            outline: none;
          }

          input::placeholder {
            text-align: center;
            font-size: 20px;
            color: #fff;
          }
          input {
            padding: 10px 0 10px 0;
            text-align: center;
          }
          input:focus {
            background-color: #fff;
          }

          input:focus::placeholder {
            color: #000;
            opacity: 0;
            transition: opacity 0.5s;
          }
          .btn_subscriber {
            position: absolute;
            right: 0;
            margin: 10px 18px 10px 0;
            width: 182px;
            height: 67px;
            border-radius: 10px;
            background-color: #6fa8ff;
            color: #fff;
            font-size: 25px;
            border: 0 solid #fff;
          }
        }
      }
    }
    .img {
    }
  }
}
