.container {
  display: flex;
  justify-content: space-evenly;
  padding: 30px 180px;
  .box_1 {
    padding: 40px;
    border: 1px solid #000;
    border-radius: 10px;
    .weather_main {
      .feature_location {
        .weather_main_title {
          padding-bottom: 20px;
        }
      }

      .weather_main_hero {
        display: flex;
        padding-bottom: 20px;
        .img_clound {
          width: 78px;
          height: 78px;
        }

        .temp {
          font-weight: 600;
          font-size: 60.75px;
          line-height: 74px;
          color: #003870;
        }
        .desc {
          display: flex;
          flex-direction: column;
          justify-content: center;
          p {
            font-weight: 600;
            font-size: 16px;
            line-height: 30px;
            color: #003870;
            margin-bottom: 0;
            text-transform: capitalize;
          }
          span {
            font-size: 14px;
            line-height: 24px;
            color: #385878;
          }
        }
      }

      .weather_main_desc {
        display: flex;
        justify-content: space-between;
        .item {
          img {
            width: 24px;
            height: 24px;
          }
          text-align: center;
          padding-right: 10px;
          .item_title {
          }
          .temp {
          }
        }
      }
    }
  }

  .box_2 {
    padding: 40px;
    border: 1px solid #000;
    border-radius: 10px;
    .weather_main {
      .feature_location {
        .weather_main_title {
          padding-bottom: 20px;
        }
      }
      .weather_day_temp {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        .temp_item {
          border-right: 1px solid #777777;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;

          .h4 {
          }
        }
        .temp_item4 {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;

          .h4 {
          }
        }
      }
    }
  }
}
